In [1]:
import pandas as pd
import os
from openai import OpenAI
from dotenv import load_dotenv
import wandb

load_dotenv()

api_key = os.getenv("OPENAI_API_KEY")

client = OpenAI(api_key=api_key)

In [2]:
wandb_df = pd.read_csv("data/wandb_data/wandb_export_2023-12-18T19_18_54.525+01_00.csv")
wandb_df

,ID_Key_original,Year_original,Presence_enhanced,Presence_predicted,correct,error,price,file_path,comment
0,10235,2010,70.05,70.05,True,False,0.11767,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,NaN
1,10235,2011,56.50,56.96,False,False,0.11966,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,NaN
2,10235,2012,54.37,55.71,False,False,0.15740,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,NaN
3,10235,2013,54.36,54.36,True,False,0.08428,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,NaN
4,10235,2014,55.46,59.32,False,False,0.07755,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,NaN
5,10235,2015,75.56,0.00,NaN,True,0.07522,data/Praesenzen_hv-info/Henkel AG _ Co. KGaA-1...,Mehrere Kopfzeilen sind gleich häufig
6,10468,2000,60.60,41.22,False,False,0.07129,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
7,10468,2001,58.83,0.00,NaN,True,0.04777,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,Mehrere Kopfzeilen sind gleich häufig
8,10468,2002,46.73,41.22,False,False,0.07180,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
9,10468,2003,39.90,41.22,False,False,0.06985,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
10,10468,2004,37.15,37.15,True,False,0.05102,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
11,10468,2005,34.82,0.00,NaN,True,0.04627,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,Mehrere Kopfzeilen sind gleich häufig
12,10468,2006,39.61,39.16,False,False,0.04070,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
13,10468,2007,42.49,42.49,True,False,0.13106,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
14,10468,2008,40.17,40.17,True,False,0.06266,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
15,10468,2009,40.71,40.71,True,False,0.07568,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
16,10468,2010,37.10,37.10,True,False,0.12274,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
17,10468,2011,45.14,45.14,True,False,0.06316,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
18,10468,2012,43.83,43.83,True,False,0.14140,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,NaN
19,10468,2013,27.18,0.00,NaN,True,0.10317,data/Praesenzen_hv-info/Allianz SE-10468/ASM/H...,Mehrere Kopfzeilen sind gleich häufig

In [6]:
# sum the cost of the experiments
wandb_df["price"].sum()

# divide it by the number of experiments
wandb_df["price"].sum() / len(wandb_df)

0.08651749999999998

In [21]:
df

  Vorschla
0        g

In [17]:
# open data/BASF_SE_Voting_Results.csv
df = pd.read_csv("data/wandb_data/BASF_SE_Voting_Results.csv", sep=",")
df

    Unnamed: 0                                  Abstimmergebnisse   Unnamed: 2
0          NaN  Die ordentliche Hauptversammlung der BASF SE h...          NaN
1          NaN  Zum Abstimmungszeitpunkt waren 49,51 % des Gru...          NaN
2          2.0  Beschlussfassung über die Verwendung des Bilan...          NaN
3          NaN                        Abgegebene gültige Stimmen*  453.489.882
4          NaN             In % des satzungsmäßigen Grundkapitals       49,37%
5          NaN                                         JA-Stimmen  451.645.411
6          NaN                                    JA-Stimmen in %      99,59 %
7          NaN                                       NEIN-Stimmen    1.844.471
8          NaN                                  NEIN-Stimmen in %       0,41 %
9          NaN                                Enthaltungen Anzahl    1.217.201
10         NaN                                          Vorschlag   angenommen
11         3.0                               Weiteres Agenda-Item          NaN
12         NaN                        Abgegebene gültige Stimmen*  448.516.744
13         NaN             In % des satzungsmäßigen Grundkapitals      48,83 %
14         NaN                                         JA-Stimmen  440.674.494
15         NaN                                    JA-Stimmen in %      98,25 %
16         NaN                                       NEIN-Stimmen    7.842.250
17         NaN                                  NEIN-Stimmen in %       1,75 %
18         NaN                                Enthaltungen Anzahl    6.190.269
19         NaN                                          Vorschlag   angenommen

In [2]:
import pandas as pd

# Load the CSV file
file_path = 'data/231215_test_set_large.csv'  # Replace with your CSV file path
df = pd.read_csv(file_path)

# Group by 'ID_Key_original' and randomly pick one row from each group
random_selection = df.groupby('ID_Key_original').apply(lambda x: x.sample(1)).reset_index(drop=True)

# Save the new DataFrame to a CSV file
output_file_path = 'data/231219_test_set.csv'  # You can change the output file name
random_selection.to_csv(output_file_path, index=False)

print(f"Output file saved as: {output_file_path}")

Output file saved as: data/231219_test_set.csv

In [7]:
df = pd.read_csv("data/Combined_new.csv")
df

      ID_Key     ID                      Company  Year  Presence   Index
0     1215.0  105.0  ADLER Real Estate AG (2015)  2002       NaN     NaN
1     1215.0  105.0  ADLER Real Estate AG (2015)  2003       NaN     NaN
2     1215.0  105.0  ADLER Real Estate AG (2015)  2004       NaN     NaN
3     1215.0  105.0  ADLER Real Estate AG (2015)  2005       NaN     NaN
4     1215.0  105.0  ADLER Real Estate AG (2015)  2006       NaN     NaN
...      ...    ...                          ...   ...       ...     ...
3961     NaN   56.0                  GAGFAH S.A.  2015       NaN     NaN
3962     NaN  140.0  Highlight Communications AG  2015       NaN     NaN
3963     NaN  208.0                  QIAGEN N.V.  2015     64.30  TecDAX
3964     NaN   89.0               RTL Group S.A.  2015     82.93    MDAX
3965     NaN  167.0                Stabilus S.A.  2015     60.97    SDAX

[3966 rows x 6 columns]

In [11]:
year = "2019"

file = "hv_bericht_23.12.2019.pdf"

if file.endswith(year[-2:] + ".pdf"):
    print("yes")

yes

In [4]:
import pandas as pd

# import data/231219_test_data_evaluated_2.csv

df = pd.read_csv("data/231219_test_data_evaluated_2.csv", sep=";")
df

# give me the average cost per experiment based on the price column
df["price"].mean()

# show the top 10 values of the price column
df["price"].sort_values(ascending=False).head(10)

# # calculate the average cost per experiment, excluding the top 3 most expensive experiments
# df["price"].sort_values(ascending=False)[3:].mean()

26     48.00000
17     33.00000
155    14.00000
2       0.18404
138     0.09662
98      0.09134
113     0.08750
127     0.07474
43      0.07142
82      0.07135
Name: price, dtype: float64

In [5]:
import json

def load_config(config_file):
    with open(config_file, 'r') as file:
        return json.load(file)
    
config = load_config("config.json")

directory = config['project_directory']

print(directory)

KeyError: 'project_directory'